<!DOCTYPE html>

<html>

<head>
    <title>미로아펫</title>
    <!--부트스트랩 css-->
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/aliststyle.css">
    <!-- 팝업창 닫기용 리다이렉트 -->
    <script type="text/javascript">
        $(function(){
                   alert('등록완료');
                   window.close();
       });
   </script>
</head>
<body>
g
</body>
</html>
