<!--Code by 정지형-->

<!--나눔 폰트 사용-->
<link href="https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800&display=swap&subset=korean" rel="stylesheet">
<!--footer css-->
<link rel='stylesheet' href='/stylesheets/footer.css' />

<!--footer-->
<footer>
    <!--회사정보 & 저작권-->
    <div class="container" id="company">
        <ul class="information">
            <li>WITH US</li> 
            <li>COMPANY 회사소개</li>
            <li>AGREEMENT 이용약관</li>
            <li>PRIVACY POLICY 개인정보처리방침</li>
            <li>GUIDE 이용안내</li>    
        </ul>
        <ul class="information">
            <li>youtube facebook insta twitter</li>
            <li> COMPANY INFO</li>
            <li>상호명: (주) 미로아PET | 대표 : 김서현 | 박수빈 | 정지형</li>
            <li>주소 : 서울시 구로구 경인로 445([구]고척동 62-160) 동양미래대학교</li>
            <li>사업자등록번호 : 000-00-00000 [사업자정보확인]</li><br>
        </ul>
    </div>
</footer>



